/* Adding DM Sans font */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
/* Global Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #f8e9dd;
  font-family: "DM Sans", sans-serif;
}
.container {
  width: 30%;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.balance,
.spending {
  border-radius: 1em;
  padding: 1em 1.5em;
}
.balance {
  background-color: #ec775f;
  color: #fffaf5;
}
.spending {
  background-color: #fffaf5;
  color: #382314;
}
/* Attribution Styling */
.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.attribution a {
  color: #3e52a3;
}
